body{
  background: #000;
  color: lightblue;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input{
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  
}

button{
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  background: lightblue;
  color: #000;
  border: none;
  cursor: pointer;
}